.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLayout {
    display: flex;
    flex-direction: row;
}

.mainLayout {
    width: 100%;
}
