@use './../../styles/mixins' as *;

.sider {
    width: 208px !important;
    max-width: 100% !important;
    min-width: 64px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: 10;

    &.collapsed {
        width: 64px !important;

        @include max-480 {
            max-width: 0 !important;
            min-width: 0 !important;
        }
    }

    @include max-480 {
        width: 106px !important;
    }
}

.trigger {
    position: absolute !important;
    top: 50%;
    bottom: 0;
    right: -18px;

    width: 20px !important;
    height: 66px !important;

    display: flex !important;
    align-items: center;
    justify-content: center;

    background-image: url('./../../assets/img/unfold-btn-icon.svg') !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;

    transform: translateY(-50%);

    @include max-480 {
        top: 24px;
        transform: none;
    }
}

.logo {
    margin: 44px 0 67px -17px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitBtnWrapper {
    position: absolute;
    bottom: 0;
}

.menuItem {
    margin-top: 0 !important;
    margin-bottom: 18px !important;
    padding-left: 17px !important;
    display: flex;
    gap: 2px !important;

    @include max-480 {
        span[role='img'] {
            display: none;
        }
    }
}

.exitBtn {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 17px !important;
    gap: 18px !important;

    @include max-480 {
        span[role='img'] {
            display: none;
        }
    }
}

.sider.collapsed {
    .logo {
        margin: 49px 0 63px;
        img {
            width: 29px;
            height: 27px;
        }
    }

    .menuItem {
        padding-left: 25px !important;
    }

    @include max-480 {
        .logo,
        .menuItem,
        .exitBtnWrapper {
            display: none;
        }
    }
}
