.sider {
    width: 208px !important;
    max-width: 100% !important;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: 10;

    &.collapsed {
        width: 64px !important;
    }
}

.trigger {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -20px;
}

.logo {
    margin: 44px 0 67px;
    display: flex;
    justify-content: center;
}

.exitBtn {
    position: absolute;
    bottom: 0;
}
